
body {
    background-color: gray;
}

div.gameScreen {
    background-color: white;
    height: 800px;
    margin: auto;
    position: relative;
    width: 500px;
}

div.userShape {
    position: absolute;
    height: 0;
    width: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 30px solid #555;
}