
body {
    background-color: gray;
}

div.controlBox{
    background-color: lightskyblue;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 300px;
    height: 150px;
    top: 650px;
}
    

div.controlBox div.topRow{
    display: flex;
    justify-content: center;
    width: 90%;

}

div.controlBox div.bottomRow{
    display: flex;
    justify-content: center;
    width: 90%;
}

div.gameMenu{
    display: flex;
    align-items: center;
    border: 2px solid black;
    background-color: blanchedalmond;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    width: 50%;
}

div.userButtonKeyboard{
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    font-weight: bold;
    margin: 5px;
    height: 50px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
}



div.gameScreen {
    background-color: white;
    display: flex;
    height: 800px;
    justify-content: center;
    margin: auto;
    position: relative;
    width: 500px;
}

canvas.userShape {
    position: absolute;
}

canvas.enemyShape{
    position: absolute;
}

canvas.projectile {
    position: absolute;
}