
body {
    background-color: gray;
}

main{
    display: flex;
    justify-content: space-evenly;
}

.hidden{
    display: none;
}

.flexContainer{
    display: flex;
}

.inlineContainer{
    display: inline-table;
}

div#controlBox{
    background-color: lightskyblue;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 150px;
}
    

div#controlBox div.topRow{
    display: flex;
    justify-content: center;
    width: 90%;

}

div#controlBox div.bottomRow{
    display: flex;
    justify-content: center;
    width: 90%;
}

div#login form{
    border: 2px solid black;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
}

div#login form button{
    width: 100px;
}

div.logoutText{
    display: inline-block;
    color: white;
}

div#gameMenu{
    display: flex;
    align-items: center;
    border: 2px solid black;
    background-color: blanchedalmond;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    width: 50%;
}

div.userButtonKeyboard{
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    font-weight: bold;
    margin: 5px;
    height: 50px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
}

div.userInputContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    width: 400px;
}

div#scoreCounter{
    width: 200px;
    height: 50px;

    background-color: white;
    margin-bottom: 75px;
}



div#gameScreen {
    background-color: white;
    height: 800px;
    justify-content: center;
    position: relative;
    width: 500px;
}

div.screenRight{
    display: inline-block
}

canvas.userShape {
    position: absolute;
}

canvas.enemyShape{
    position: absolute;
}

canvas.projectile {
    position: absolute;
}

table#scoreList{
    align-self: center;
    background-color: white;
    border-radius: 10%;
    padding: 20px;
    width: 300px;
    height: auto;
}

table#scoreList tr{
    display: block;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100%
}

table#scoreList tr.currentUser{
    color: blue;
}

table#scoreList tr:nth-child(even){
    background-color: rgb(228, 220, 220);
}

table#scoreList tr td#header{
    font-weight: bold;
    text-align: center;
}

table#scoreList tr td{
    display: inline-block;
    vertical-align: middle
}

table#scoreList tr td:nth-child(1){
    text-align: center;
    font-weight: bold;
    width: 14%;
}

table#scoreList tr td:nth-child(2){
    text-align: left;
    width: 64%;
}

table#scoreList tr td:nth-child(3){
    text-align: center;
    width: 19%;
}

div#userSettings{
    flex-direction: column;
    align-items: flex-end;
    font-size: 12px;
    background-color: white;
    padding: 10px;
    border-radius: 5%;
}

div#userSettings input{
    width: 100px;
}
